{% extends 'base.html' %}

{% block content %}

    <style>
        .testing {
            display: inline-block;
            background-color: brown;
            height: 48px;
            width: 48px;
            margin: 1rem;
            border-radius: .5rem;
            color: white;
        }
    </style>

    <div style="height: 20rem; background-color: orange; margin: 2rem; border-radius: 1rem; font-size: 3rem;">
        <h1>Young Hyun</h1>

    <div class="testing" style="height: 48px; width: 48px;"></div>
    <div class="testing" style="height: 3rem; width: 3rem;"></div>
    <div class="testing" style="height: 3em; width: 3em;"></div>
    <div class="testing" style="height: 30%; width: 30%;"></div>

    </div>
{% endblock %}