.young_header_logo {
    margin: 2rem 0;
    font-family: 'Otomanopee One', sans-serif;
}

.young_header_btn {
    margin-bottom: 2rem;
}

.young_footer_logo {
    margin: 1.5rem 0;
    font-family: 'Otomanopee One', sans-serif;
}

.young_footer_btn {
    margin-top: 2rem;
}

.mw-500 {
    max-width: 500px;
    padding: 1rem 1.5rem;
}