.young_header_logo {
    margin-bottom: 2rem;
    font-family: 'Otomanopee One', sans-serif;
}

.young_header_btn {
    margin-bottom: 2rem;
}

.young_footer_logo {
    margin: 1.5rem;
    font-family: 'Otomanopee One', sans-serif;
}

.young_footer_btn {
    margin-bottom: 2rem;
}