<div style="text-align: center;">
    <div class="young_header_logo">
        <h1>YoungHyun</h1>
    </div>
    <div class="young_header_btn">
        <span>
            <a href="{% url 'articleapp:list' %}">
                Articles
            </a>
        </span>
        <span>nav2</span>
        {% if not user.is_authenticated %}
        <span>
            <a href="{% url 'accountapp:login' %}">
                Login
            </a>
        </span>
        <span>
            <a href="{% url 'accountapp:create' %}">
                Sign Up
            </a>
        </span>
        {% else %}
        <span>
            <a href="{% url 'accountapp:detail' pk=user.pk %}">
                MyPage
            </a>
        </span>
        <span>
            <a href="{% url 'accountapp:logout' %}">
                Logout
            </a>
        </span>
        {% endif %}
    </div>


</div>